<h2>FAQs</h2>
<ol>
	
	<li>
		<b>Is this maintained by Wal-mart?</b><br/>
		Hells no.
	</li>

	<li>
		<b>How do I know this isn't Walmart setting up a site to figure out where everyone is going to load their Bluebird cards?</b>
		<p>
			Seriously, dude?  Do you also think man has never landed on the moon?  Do you think someone from Walmart would put up an FAQ page like this?
		</p>
	</li>

	<li>
		<b>Where does the status data come from?</b><br/>
		All of the data is user generated.  Click on the update button to let others know if the <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a> you're working with is up and running or not.
	</li>

	<li>
		
		<b>I just found a working <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a>...why would I let other people know about it? Are you CRAZY?!?!</b><br/>
		
		<p>
			You should let people know... for good karma?  
		</p>
		
		<p>Look, it sucks to roll up to a Walmart only to find out that <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a> is being a b**** and not working.  Why not save people some heartache?  
		</p>
		
		<p>Conversely, finding a <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a> that's willing to put out is like discovering a freaking unicorn.  Why not share that same feeling of joy with others?</p>

		<p>At the end of the day, this site is kind of like a social experiment.  People can be dicks, and post about machines working when they're not, or vice versa.  Given how collaborative the communities are on <a href="http://www.flyertalk.com">FlyerTalk</a> and other forums, I'm hoping that people just do the right thing.  We'll see though...</p>

	</li>

	<li>
		<b>A final word...</b>
		<p>
			While you're here, thinking about whether to contribute in a positive way to the Bluebird community, one final reminder to do the right thing when it comes to <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a>.  She's fragile.  She breaks easy.  Don't be that selfish guy (or gal).  <a href="http://frequentmiler.boardingarea.com/2015/06/26/bet-you-didnt-know-how-to-not-break-the-walmart-moneycenter-express/">Remember the golden rule when loading your Bluebird</a>.
		</p>
	</li>



</ol>