<h2>FAQs</h2>
<ol>
	
	<li>
		<b>Is this maintained by Wal-mart?</b><br/>
		Hells no.
	</li>

	<li>
		<b>Where does the status data come from?</b><br/>
		All of the data is user generated.  Click on the update button to let others know if you found a working or non-working machine?
	</li>

	<li>
		
		<b>I just found a working <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a>...why would I let other people know about it? Are you CRAZY?!?!</b><br/>
		
		<p>
			You should let people know... for good karma?  
		</p>
		
		<p>Look, it sucks to roll up to a Walmart only to find out that <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a> is being a bitch and not working.  Why not save people some heartache?  
		</p>
		
		<p>Conversely, finding a <a href="http://www.flyertalk.com/forum/manufactured-spending/1610921-why-walmart-money-center-atms-called-kate.html">Kate</a> that's willing to put out is like discovering a freaking unicorn.  Why not share that same feeling of joy with others?</p>

		<p>At the end of the day, this site is kind of like a social experiment.  People can be dicks, and post about machines working when they're not, or vice versa.  Given how collaborative the communities are on FlyerTalk and other forums, I'm hoping that people just do the right thing.  We'll see though...</p>

	</li>



</ol>