<table class="table table-bordered table-hover" style="maring:20px 0px 0px 0px">
	<thead>
		<tr>
			<th class="table__address">Address</th>
			<th class="table__status">Most Recent Status</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>