/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 *= require ionicons
 */

/**
 * Glyphicons
 */ 
@font-face {
 font-family: 'Glyphicons Halflings';
 src: url('/assets/glyphicons-halflings-regular.eot');
 src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
 url('/assets/glyphicons-halflings-regular.woff') format('woff'),
 url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
 url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src: font-url('/assets/icomoon.eot?risv2d');
  src: font-url('/assets/icomoon.eot?risv2d#iefix') format('embedded-opentype'),
  font-url('/assets/icomoon.ttf?risv2d') format('truetype'),
  font-url('/assets/icomoon.woff?risv2d') format('woff'),
  font-url('/assets/icomoon.svg?risv2d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}