// Place all the styles related to the money_pass controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table__status{
	text-align:center;
}

.table__status i{
	font-size: 25px;
}

i.success{
	color: rgb(73, 136, 63);
}

i.fail{
	color: rgb(177, 79, 81);
}

#results_region{
	margin-top: 20px;
}

a.table__icon-link:hover, a.table__store-link:hover{
	text-decoration: none;
	cursor: pointer;
}

a.table__store-link{
	color:black;
}
